<% 
  // Sort the projects by into a sensible order...
  var projects = [];
  jQuery.each( results, function ( index, project ) {
    if ( project["is_latest_for_gene"] == 1 ) { projects.unshift(project); }
    else                                      { projects.push(project);    }
  });
%>

<style type="text/css" media="screen">
  table.htgt_targ_allele_progress {
    border-collapse: collapse;
  }
  
  table.htgt_targ_allele_progress tr {
    border-bottom: 2px solid #fff;
  }
  
  table.htgt_targ_allele_progress td {
    background-repeat: no-repeat;
    background-position: right center;
    vertical-align: middle;
    text-align: center;
    border: none;
    padding: 5px 15px 5px 7px;
    height: 35px;
  }
  
  table.htgt_targ_allele_progress table.with_border tr {
    border: none;
  }
  
  table.htgt_targ_allele_progress table.with_border td,
  table.htgt_targ_allele_progress table.with_border th {
    border: 1px solid #e2e2e2;
  }
  
  table.htgt_targ_allele_progress th.centre {
    text-align: center !important;
  }
  
  table.htgt_targ_allele_progress td.incomp {
    background-color: #ccc;
  }

  table.htgt_targ_allele_progress td.normal {
    background: none;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #074987;
  }

  table.htgt_targ_allele_progress td.error {
    background-color: #c1272d;
  }

  table.htgt_targ_allele_progress td.warn {
    background: none;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #f7931e;
  }

  table.htgt_targ_allele_progress td.normal,
  table.htgt_targ_allele_progress td.error,
  table.htgt_targ_allele_progress td.warn {
    color: #fff;
    font-weight: bold;
  }

  table.htgt_targ_allele_progress td.normal_normal {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-comp.png');
  }

  table.htgt_targ_allele_progress td.normal_incomp {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-incomp.png');
  }

  table.htgt_targ_allele_progress td.normal_error {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-error.png');
  }

  table.htgt_targ_allele_progress td.normal_warn {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-warn.png');
  }

  table.htgt_targ_allele_progress td.incomp_incomp {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-incomp-incomp.png');
  }

  table.htgt_targ_allele_progress td.error_incomp {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-error-incomp.png');
  }

  table.htgt_targ_allele_progress td.warn_incomp {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-warn-incomp.png');
  }

  table.htgt_targ_allele_progress td.start_incomp {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-incomp.png');
    background-color: #fff;
  }

  table.htgt_targ_allele_progress td.start_normal {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-comp.png');
    background-color: #fff;
  }

  table.htgt_targ_allele_progress td.start_error {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-error.png');
    background-color: #fff;
  }

  table.htgt_targ_allele_progress td.start_warn {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-warn.png');
    background-color: #fff;
  }

  table.htgt_targ_allele_progress td.end_incomp {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-incomp.png');
  }

  table.htgt_targ_allele_progress td.end_normal {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-comp.png');
  }

  table.htgt_targ_allele_progress td.end_error {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-error.png');
  }

  table.htgt_targ_allele_progress td.end_warn {
    background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-warn.png');
  }
  
  div.htgt_targ_allele_box {
    padding: 5px;
    margin: 4px;
  }
  
  div.htgt_targ_allele_box ul li {
    margin: 0 !important;
  }
</style>

<!-- Draw the progress bar -->
<table class="htgt_targ_allele_progress">
  <tr>
    <td width="15%"></td>
    <th width="15%" class="centre">Pre-pipeline</th>
    <th width="15%" class="centre">Designs</th>
    <th width="15%" class="centre">Vectors</th>
    <th width="15%" class="centre">ES Cells</th>
    <th width="15%" class="centre">Mice</th>
    <th width="10%"></th>
  </tr>
  <% for ( var i=0; i<projects.length; i++ ) { %>
    <%
      var project = projects[i];
      
      // Work out the sponsor string to display
      var sponsor = [];
      if ( project["is_eucomm"] == 1 )         { sponsor.push("EUCOMM"); };
      if ( project["is_komp_csd"] == 1 )       { sponsor.push("KOMP-CSD"); };
      if ( project["is_komp_regeneron"] == 1 ) { sponsor.push("KOMP-Regeneron"); };
      if ( project["is_norcomm"] == 1 )        { sponsor.push("NorCOMM"); };
      if ( project["is_mgp"] == 1 )            { sponsor.push("MGP"); };
      
      // Work out how to draw the progress bar
      var progress = {
        pre:      "incomp",
        designs:  "incomp",
        vectors:  "incomp",
        cells:    "incomp",
        mice:     "incomp"
      };
      if ( project["pipeline_stage"].match("pre") ) {
        progress.pre = project["status_type"];
        jQuery.each( ["designs", "vectors", "cells", "mice"], function() { progress[this] = "incomp"; });
      } else if ( project["pipeline_stage"].match("designs") ) {
        progress.pre = "normal";
        progress.designs = project["status_type"];
        jQuery.each( ["vectors", "cells", "mice"], function() { progress[this] = "incomp"; });
      } else if ( project["pipeline_stage"].match("vectors") ) {
        jQuery.each( ["pre", "designs"], function() { progress[this] = "normal"; });
        progress.vectors = project["status_type"];
        jQuery.each( ["cells", "mice"], function() { progress[this] = "incomp"; });
      } else if ( project["pipeline_stage"].match("cells") ) {
        jQuery.each( ["pre", "designs", "vectors"], function() { progress[this] = "normal"; });
        progress.cells = project["status_type"];
        jQuery.each( ["mice"], function() { progress[this] = "incomp"; });
      } else if ( project["pipeline_stage"].match("mice") ) {
        jQuery.each( ["pre", "designs", "vectors", "cells"], function() { progress[this] = "normal"; });
        progress.mice = project["status_type"];
      }
    %>
    
    <!-- Progress bar row -->
    <tr>
      <td class="start_<%= progress.pre %>">
        <strong><%= sponsor.join(", ") %></strong>
      </td>
      <td class="<%= progress.pre %> <%= progress.pre %>_<%= progress.designs %>">
        <% if ( project["pipeline_stage"].match("pre") ) { %><%= project["status"] %><% } %>
      </td>
      <td class="<%= progress.designs %> <%= progress.designs %>_<%= progress.vectors %>">
        <% if ( project["pipeline_stage"].match("designs") ) { %><%= project["status"] %><% } %>
      </td>
      <td class="<%= progress.vectors %> <%= progress.vectors %>_<%= progress.cells %>">
        <% if ( project["pipeline_stage"].match("vectors") ) { %><%= project["status"] %><% } %>
      </td>
      <td class="<%= progress.cells %> <%= progress.cells %>_<%= progress.mice %>">
        <% if ( project["pipeline_stage"].match("cells") ) { %><%= project["status"] %><% } %>
      </td>
      <td class="end_<%= progress.mice %> <%= progress.mice %>">
        <% if ( project["pipeline_stage"].match("mice") ) { %><%= project["status"] %><% } %>
      </td>
      <td>
        <a class="htgt_targ_allele_progress_toggle">view&nbsp;details</a>
      </td>
    </tr>
    <!-- The more details row -->
    <tr>
      <td colspan="7">
        <div class="htgt_targ_allele_progress_content">
          <table>
            <tr>
              <td width="35%" style="vertical-align:top;text-align:left;">
                <%
                  // Configure our link out to Ensembl...
                  var tracks_to_change = {
                    contig:                                         "normal",
                    ruler:                                          "normal",
                    scalebar:                                       "normal",
                    transcript_core_ensembl:                        "transcript_label",
                    transcript_vega_otter:                          "transcript_label",
                    alignment_compara_364_constrained:              "compact",
                    "das:http://das.sanger.ac.uk/das/KO_vectors":   "normal",

                    alignment_compara_364_scores:                   "off",
                    chr_band_core:                                  "off",
                    dna_align_cdna_cDNA_update:                     "off",
                    dna_align_core_CCDS:                            "off",
                    fg_regulatory_features_funcgen:                 "off",
                    fg_regulatory_features_legend:                  "off",
                    gene_legend:                                    "off",
                    gc_plot:                                        "off",
                    info:                                           "off",
                    missing:                                        "off",
                    transcript_core_ncRNA:                          "off",
                    transcript_core_ensembl_IG_gene:                "off",
                    variation_legend:                               "off"
                  };
                  var settings = [];
                  jQuery.each( tracks_to_change, function( key, value ) {
                    settings.push( key + "=" + value );
                  });

                  var ensembl_link = "http://www.ensembl.org/Mus_musculus/Location/View";
                  ensembl_link += "?g=" + project["ensembl_gene_id"] + ";";
                  ensembl_link += "contigviewbottom=" + settings.join(",");
                  
                  var ensembl_picture_text = "Knockout design " + project["design_id"];
                  ensembl_picture_text += " (" + project["design_plate"] + "_" + project["design_well"] + ")";
                  ensembl_picture_text += " for " + project["marker_symbol"] + " (" + project["ensembl_gene_id"] + ")";
                  ensembl_picture_text += " - <a href='" + ensembl_link + "' target='_blank'>view this allele in Ensembl</a>"

                  var vector_picture_text = "HTGT targeting vector for " + project["marker_symbol"];
                  vector_picture_text += " - <a href='http://www.sanger.ac.uk/htgt/report/gene_report?project_id=" + project["htgt_project_id"] + "' target='_blank'>view this in HTGT</a>";
                  
                  var allele_picture_text = "HTGT allele for " + project["marker_symbol"];
                  allele_picture_text += " - <a href='http://www.sanger.ac.uk/htgt/report/gene_report?project_id=" + project["htgt_project_id"] + "' target='_blank'>view this in HTGT</a>";
                %>
                
                <% if ( project["ensembl_gene_id"] ) { %>
                <div class="htgt_targ_allele_box ui-widget-content ui-corner-all">
                  <img src="<%= dataset.base_url %>/images/ebang.png" alt="Ensembl" />
                  <ul>
                    <li><a href="<%= ensembl_link %>" target="_blank">view this allele in Ensembl</a></li>
                    <li><a href="http://www.i-dcc.org/dev/ensembl-images/normal-track/<%= project["htgt_project_id"] %>.png" class="image" rel="prettyPhoto" title="<%= ensembl_picture_text %>">view/download a pre-prepared Ensembl allele graphic (suitable for publications)</a></li>
                  </ul>
                </div>
                <% } %>
                
                <% if (
                        ( project["targvec_plate"] && project["targvec_well"] && project["targvec_distribute"] === "yes" ) 
                     || ( project["escells"] && project["escells"].length > 0 )
                      ) { %>
                <div class="htgt_targ_allele_box ui-widget-content ui-corner-all">
                  <img src="<%= dataset.base_url %>/images/sanger_logo.png" alt="The Wellcome Trust Sanger Institute" />
                  <ul>
                    <% if ( project["targvec_plate"] && project["targvec_well"] && project["targvec_distribute"] === "yes" ) { %>
                    <li><a href="http://www.i-dcc.org/dev/all_vector_complete_allele_pics/<%= project["htgt_project_id"] %>.html?iframe=true&amp;width=90%&amp;height=70%" class="image" rel="prettyPhoto" title="<%= vector_picture_text %>">view a graphical representation of the targeting vector</a></li>
                    <% } %>
                    <% if ( project["escells"] && project["escells"].length > 0 ) { %>
                    <li><a href="http://www.i-dcc.org/dev/allele_pages/<%= project["htgt_project_id"] %>.html?iframe=true&amp;width=90%&amp;height=50%" class="image" rel="prettyPhoto" title="<%= allele_picture_text %>">view a graphical representation of the allele</a></li>
                    <% } %>
                  </ul>
                </div>
                <% } %>
                
              </td>
              <td style="text-align:left;">
                <a href="http://www.sanger.ac.uk/htgt/report/gene_report?project_id=<%= project["htgt_project_id"] %>" target="_blank">View this allele in HTGT</a>

                <h4>ES Cell Clones</h4>
                <% if ( project["escells"] && project["escells"].length > 0 ) { %>
                  <%
                    var conditional_clones = [];
                    var nonconditional_clones = [];
                    for ( var j=0; j<project["escells"].length; j++) {
                      if ( project["escells"][j]["is_targeted_non_cond"].match("yes") ) {
                        nonconditional_clones.push( project["escells"][j] );
                      } else {
                        conditional_clones.push( project["escells"][j] );
                      }
                    }
                  %>
                  <table class="with_border">
                    <tr>
                      <th>Design ID</th>
                      <th># Conditional Clones</th>
                      <th># Targeted Non-conditional Clones</th>
                      <th>Genbank File</th>
                      <th>Order</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.sanger.ac.uk/htgt/design/designedit/refresh_design?design_id=<%= project["design_id"] %>"><%= project["design_id"] %></a> 
                        <% if ( project["design_plate"] && project["design_well"] ) { %>
                          (<%= project["design_plate"] %>_<%= project["design_well"] %>)
                        <% } %>
                      </td>
                      <td><%= conditional_clones.length %></td>
                      <td><%= nonconditional_clones.length %></td>
                      <td><a href="http://www.sanger.ac.uk/htgt/qc/seq_view_file?design_id=<%= project["design_id"] %>&amp;cassette=<%= project["cassette"] %>" class="file">view</a></td>
                      <td>
                        <%= this.partial({ url: dataset.base_url + "/js/templates/htgt_targ_details_order.ejs" },{ dataset: dataset, project: project, order_type: 'clone' }) %>
                      </td>
                    </tr>
                  </table>
                  
                  <div>
                    <div style="text-align:right;margin-top:5px;">
                      <a class="htgt_targ_allele_progress_clones_toggle">view all available ES cell clones</a>
                    </div>
                    <div class="htgt_targ_allele_progress_clones_content">
                      <% if ( conditional_clones.length > 0 ) { %>
                        <h5>Conditional Clones</h5>
                        <%= this.partial({ url: dataset.base_url + "/js/templates/htgt_targ_details_escell_clones.ejs" },{ dataset: dataset, project: project, clones: conditional_clones }) %>
                      <% } %>
                      
                      <% if ( nonconditional_clones.length > 0 ) { %>
                        <h5>Targeted Non-conditional Clones</h5>
                        <%= this.partial({ url: dataset.base_url + "/js/templates/htgt_targ_details_escell_clones.ejs" },{ dataset: dataset, project: project, clones: nonconditional_clones }) %>
                      <% } %>
                    </div>
                  </div>
                  
                <% } else { %>
                  <p>&nbsp;&nbsp;&nbsp;<em>None available...</em></p>
                <% } %>

                <h4>Targeting Vector</h4>
                <% if ( project["targvec_plate"] && project["targvec_well"] && project["targvec_distribute"] === "yes" ) { %>
                  <table class="with_border">
                    <tr>
                      <th>Design ID</th>
                      <th>Targeting Vector</th>
                      <th>Vector Strain</th>
                      <th>Cassette</th>
                      <th>Backbone</th>
                      <th>Genbank File</th>
                      <th>Order</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.sanger.ac.uk/htgt/design/designedit/refresh_design?design_id=<%= project["design_id"] %>"><%= project["design_id"] %></a> 
                        <% if ( project["design_plate"] && project["design_well"] ) { %>
                          (<%= project["design_plate"] %>_<%= project["design_well"] %>)
                        <% } %>
                      </td>
                      <td><a href="http://www.sanger.ac.uk/htgt/plate/view?plate_name=<%= project["targvec_plate"] %>"><%= project["targvec_plate"] %>_<%= project["targvec_well"] %></a></td>
                      <td><% if ( project["bac"].match("129") ) { %>129S7<% } else { %>C57Bl/6J<% } %></td>
                      <td><%= project["cassette"] %></td>
                      <td><%= project["backbone"] %></td>
                      <td><a href="http://www.sanger.ac.uk/htgt/qc/seq_view_file?design_id=<%= project["design_id"] %>&amp;cassette=<%= project["cassette"] %>&amp;backbone=<%= project["backbone"] %>" class="file">view</a></td>
                      <td>
                        <%= this.partial({ url: dataset.base_url + "/js/templates/htgt_targ_details_order.ejs" },{ dataset: dataset, project: project, order_type: 'vector' }) %>
                      </td>
                    </tr>
                  </table>
                <% } else { %>
                  <p>&nbsp;&nbsp;&nbsp;<em>None available...</em></p>
                <% } %>

                <!--
                <h4>Intermediate Vector</h4>
                <% if ( project["intvec_plate"] && project["intvec_well"] && project["intvec_distribute"] === "yes" ) { %>
                  <table class="with_border">
                    <tr>
                      <th>Design ID</th>
                      <th>Intermediate Vector</th>
                      <th>Vector Strain</th>
                      <th>Genbank File</th>
                      <th>Order</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.sanger.ac.uk/htgt/design/designedit/refresh_design?design_id=<%= project["design_id"] %>"><%= project["design_id"] %></a> 
                        <% if ( project["design_plate"] && project["design_well"] ) { %>
                          (<%= project["design_plate"] %>_<%= project["design_well"] %>)
                        <% } %>
                      </td>
                      <td><a href="http://www.sanger.ac.uk/htgt/plate/view?plate_name=<%= project["intvec_plate"] %>"><%= project["intvec_plate"] %>_<%= project["intvec_well"] %></a></td>
                      <td><% if ( project["bac"].match("129") ) { %>129S7<% } else { %>C57Bl/6J<% } %></td>
                      <td><a href="http://www.sanger.ac.uk/htgt/qc/seq_view_file?design_id=<%= project["design_id"] %>&amp;backbone=R3R4_pBR_amp" class="file">view</a></td>
                      <td>
                        <%= this.partial({ url: dataset.base_url + "/js/templates/htgt_targ_details_order.ejs" },{ dataset: dataset, project: project, order_type: 'vector' }) %>
                      </td>
                    </tr>
                  </table>
                <% } else { %>
                  <p>&nbsp;&nbsp;&nbsp;<em>None available...</em></p>
                <% } %>
                -->
                
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  <% } %>
</table>
