<table class="tablesorter">
  <thead>
    <tr>
      <th>ES Cell Clone ID</th>
      <th>ES Cell Strain</th>
      <th>ES Cell Line</th>
      <th>Allele</th>
      <th>Order</th>
    </tr>
  </thead>
  <tbody>
    <% for ( var j=0; j<clones.length; j++) { %>
      <% var clone = clones[j] %>
      <tr>
        <td><a href="http://www.sanger.ac.uk/htgt/plate/view?plate_name=<%= clone["escell_clone_name"].substr(0, clone["escell_clone_name"].length - 4) %>"><%= clone["escell_clone_name"] %></a></td>
        <td>
          <% if ( clone["es_cell_line"].match("JM8") ) { %>
            C57BL/6N
          <% } else if ( clone["es_cell_line"].match("C2") ) { %>
            C57BL/6N
          <% } else if ( clone["es_cell_line"].match("AB2.2") ) { %>
            129S7
          <% } %>
        </td>
        <td><%= clone["es_cell_line"] %></td>
        <td><%= project["allele_name"] %></td>
        <td>
          <%= this.partial({ url: dataset.base_url + "/js/templates/htgt_targ_details_order.ejs" },{ dataset: dataset, project: project, order_type: 'clone' }) %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>