<li id="<%= gene.symbol %>" class="ui-widget-content ui-corner-all" style="padding: 0.7em; margin-bottom: 10px;">
  <table style="width: 100%;">
    <tr>
      <td>
        <%
          var name_list = gene.getExtGeneIdList({ where: { source: 'name' } });
          var names = [];
          for ( var i=0; i<name_list.length; i++ ) { names.push( name_list[i].value ); }
        %>
        <span class="gene_symbol"><%= gene.symbol %></span> <small><em><%= names.join(' / ') %></em></small> <br />
        <%
          var syn_list = gene.getExtGeneIdList({ where: { source: 'synonym' } });
          var synonyms = [];
          for ( var i=0; i<syn_list.length; i++ ) { synonyms.push( syn_list[i].value ); }
        %>
        <strong>Synonyms</strong>: <small><em><%= synonyms.join(', ') %></em></small> <br />
        <strong>Gene Location</strong>: Chr<%= gene.chromosome %>:<%= gene.coord_start %>-<%= gene.coord_end %>(<%= gene.strand %>)
      </td>
      <td style="text-align: right;">
        <img src="http://gbrowse.informatics.jax.org/cgi-bin/gbrowse_img/thumbs_current/?abs=1;options=Everything;width=200;name=<%= gene.chromosome %>%3A<%= gene.coord_start %>-<%= gene.coord_end %>" alt="" />
      </td>
    </tr>
  </table>
  <div class="accordion">
    <div id="<%= gene.symbol %>_ext_gene_ids">
      <h4>
        <a href="#">
          Other Gene IDs
          <span class="subheading_counts">
            <%
              var ext_id_count = gene.getExtGeneIdCount();
              ext_id_count = ext_id_count - name_list.length;
              ext_id_count = ext_id_count - syn_list.length;
            %>
            ( <%= ext_id_count %> result )
          </span>
        </a>
      </h4>
      <div>
        <%= this.partial({ url: base_url + '/templates/search_results/ext_gene_ids.ejs' }) %>
      </div>
    </div>
    <div id="<%= gene.symbol %>_microinjections">
      <h4>
        <a href="#">
          IKMC Mice
          <span class="subheading_counts">
            ( <%= gene.getMicroinjectionCount() %> result )
          </span>
        </a>
      </h4>
      <div>
        <%= this.partial({ url: base_url + '/templates/search_results/microinjections.ejs' }) %>
      </div>
    </div>
    <div id="<%= gene.symbol %>_targeted_constructs">
      <h4>
        <a href="#">
          IKMC Targeted Alleles
          <span class="subheading_counts">
            ( <%= gene.getTargetedConstructCount() %> result )
          </span>
        </a>
      </h4>
      <div>
        <%= this.partial({ url: base_url + '/templates/search_results/targeted_constructs.ejs' }) %>
      </div>
    </div>
    <div id="<%= gene.symbol %>_other_mutations">
      <h4>
        <a href="#">
          Other Mutant Resources
          <span class="subheading_counts">
            ( <%= gene.getOtherMutationCount() %> result )
          </span>
        </a>
      </h4>
      <div>
        <%= this.partial({ url: base_url + '/templates/search_results/other_mutations.ejs' }) %>
      </div>
    </div>
  </div>
</li>