<li id="<%= symbol %>" class="ui-widget-content ui-corner-all" style="padding: 0.7em; margin-bottom: 10px;">
  <table style="width: 100%;">
    <tr>
      <td>
        <span class="gene_symbol"><%= symbol %></span> <small><em>need the full gene name in the mart!</em></small> <br />
        <strong>Synonyms</strong>: <small><em>these need to be put in the mart!</em></small> <br />
        <strong>Gene Location</strong>: Chr<%= chromosome %>:<%= coord_start %>-<%= coord_end %>(<%= strand %>)
      </td>
      <td style="text-align: right;">
        <img src="http://gbrowse.informatics.jax.org/cgi-bin/gbrowse_img/thumbs_current/?abs=1;options=Everything;width=200;name=<%= chromosome %>%3A<%= coord_start %>-<%= coord_end %>" alt="" />
      </td>
    </tr>
  </table>
  <div class="accordion">
    <div id="<%= symbol %>_ext_gene_ids">
      <h4><a href="#">Other Gene IDs</a></h4>
      <div>
        <%= this.partial({ url: '/templates/search_results/ext_gene_ids.ejs' }) %>
      </div>
    </div>
    <div id="<%= symbol %>_targeted_constructs">
      <h4><a href="#">Knockout Attempts</a></h4>
      <div>
        <%= this.partial({ url: '/templates/search_results/targeted_constructs.ejs' }) %>
      </div>
    </div>
    <div id="<%= symbol %>_trapped_constructs">
      <h4><a href="#">Other Mutants/Resources</a></h4>
      <div>
        <%= this.partial({ url: '/templates/search_results/other_mutations.ejs' }) %>
      </div>
    </div>
  </div>
</li>